In [1]:
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Linear_Regression').getOrCreate()
from pyspark.ml.regression import LinearRegression
lp = spark.read.csv("Dataset_main/litecoin_price (1).csv",inferSchema=True,header=True)
ep = spark.read.csv("Dataset_main/ethereum_classic_price 1.csv",inferSchema=True,header=True)

In [2]:
print(lp.head())
print(ep.head())

lp.printSchema()
ep.printSchema()

Row(Date='Feb 20, 2018', Open=223.09, High=253.9, Low=222.51, Close=232.85, Volume='1,73,96,70,000', Market Cap='12,33,51,00,000')
Row(Date='Feb 20, 2018', Open=39.41, High=43.96, Low=38.23, Close=38.47, Volume='1,17,58,90,000', Market Cap='3,94,00,10,000')
root
 |-- Date: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: string (nullable = true)
 |-- Market Cap: string (nullable = true)

root
 |-- Date: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: string (nullable = true)
 |-- Market Cap: string (nullable = true)

In [3]:
import pandas as pd
lp.describe().toPandas().transpose()

,0,1,2,3,4
summary,count,mean,stddev,min,max
Date,1760,None,None,"Apr 01, 2014","Sep 30, 2017"
Open,1760,20.380522727272762,46.937995834277466,1.15,359.13
High,1760,21.55526136363641,50.1425657590246,1.34,375.29
Low,1760,19.16557954545455,43.54057576211996,1.11,335.68
Close,1760,20.496602272727326,47.15935425968839,1.16,358.34
Volume,1516,None,None,"1,00,53,700","99,30,590"
Market Cap,1760,None,None,"1,03,97,20,000","95,33,97,000"

In [4]:
import pandas as pd
ep.describe().toPandas().transpose()

,0,1,2,3,4
summary,count,mean,stddev,min,max
Date,1761,None,None,"Apr 01, 2014","Sep 30, 2017"
Open,1761,7.4583363719477545,8.426770726753162,0.604737,44.53
High,1761,7.867908806360018,9.09130871892865,0.766068,53.15
Low,1761,7.044287735945492,7.740564729267633,0.452446,40.85
Close,1761,7.477006630891537,8.452638640291166,0.602402,44.73
Volume,1517,None,None,"1,00,53,700","99,30,590"
Market Cap,1760,None,None,"1,00,74,30,000","99,75,82,000"

In [5]:
from pyspark.ml.feature import VectorAssembler
vector_assembler = VectorAssembler(inputCols = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Market Cap'], outputCol = 'features')
vector_output = vector_assembler.transform(lp)
vector_output.printSchema()
vector_output.head(1)

IllegalArgumentException: 'Data type StringType is not supported.'

In [6]:
from pyspark.ml.feature import VectorAssembler

In [7]:
vector_assembler = VectorAssembler(inputCols = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Market Cap'], outputCol = 'Features')

In [8]:
vector_output = vector_assembler.transform(lp)

IllegalArgumentException: 'Data type StringType is not supported.'

In [9]:
lp = rawdata.select(col('date'), rawdata.date.cast('double').alias('date'))

NameError: name 'rawdata' is not defined

In [10]:
lp = lp.select(col('date'), rawdata.date.cast('double').alias('date'))

NameError: name 'col' is not defined

In [11]:
from pyspark.sql.types import DoubleType

changedTypelp = joinlp.withColumn("date", joindf["date1"].cast(DoubleType())

SyntaxError: unexpected EOF while parsing (<ipython-input-11-fb924dd61d95>, line 2)

In [12]:
changedTypelp = joinlp.withColumn("date", joindf["date1"].cast(DoubleType())

SyntaxError: unexpected EOF while parsing (<ipython-input-12-c88fc0f4bfef>, line 2)

In [13]:
from pyspark.sql.functions import col
changedTypelp = joinlp.withColumn("Date", col("Date1").cast(DoubleType()))

NameError: name 'joinlp' is not defined

In [14]:
from pyspark.sql.functions import col
changedTypelp = lp.withColumn("Date", col("Date1").cast(DoubleType()))

NameError: name 'DoubleType' is not defined