In [1]:
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import *
spark = SparkSession.builder.appName('Untitled').getOrCreate()

In [2]:
#Merging both tables for better exploration. I read the dataset and carry out an outer join by using the common column 'Date'.
import pandas as pd
lp=pd.read_csv('Dataset_main/litecoin_price (1).csv',index_col='Date')
lp.head()
ep=pd.read_csv('Dataset_main/ethereum_classic_price 1.csv',index_col='Date')
ep.head()
Merged_Pandas=lp.merge(ep, on='Date', how='outer')
Merged_Pandas.head()

,Open_x,High_x,Low_x,Close_x,Volume_x,Market Cap_x,Open_y,High_y,Low_y,Close_y,Volume_y,Market Cap_y
Date,,,,,,,,,,,,
"Feb 20, 2018",223.09,253.90,222.51,232.85,"1,73,96,70,000","12,33,51,00,000",39.41,43.96,38.23,38.47,"1,17,58,90,000","3,94,00,10,000"
"Feb 19, 2018",215.41,226.97,215.38,223.06,"76,75,97,000","11,90,79,00,000",34.69,40.26,33.93,39.29,"99,22,56,000","3,46,78,60,000"
"Feb 18, 2018",230.51,232.64,214.46,215.74,"1,01,11,20,000","12,73,88,00,000",35.01,35.08,31.52,34.88,"45,68,29,000","3,49,83,90,000"
"Feb 17, 2018",229.50,233.45,225.60,229.47,"86,34,01,000","12,67,97,00,000",34.97,35.40,34.38,34.99,"41,85,34,000","3,49,36,50,000"
"Feb 16, 2018",225.50,236.09,212.33,230.12,"1,30,00,90,000","12,45,53,00,000",34.43,35.34,32.90,35.03,"45,67,54,000","3,43,91,80,000"